# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/
env/
env*/

# PyCharm
.idea/
*.iml

# pytest cache
.pytest_cache/

# Coverage
.coverage
htmlcov/
